

.datatables {
    width: 100%;
    text-align: center;

}

.datatables tbody tr td {
    border: 1px solid #31343940;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before{
    top: 30%;
    left: 30%;
}

.work-area{
position: relative;
border-radius: 3px;
background: #fefffe;
border-top: 1px solid #31343940;
border-left: 1px solid #31343940;
border-right: 1px solid #31343940;
margin-bottom: 20px;
width: 100%;
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.card-header{
    background:#7d7d7d4d;
    border: 1px solid #31343940;
}
.card-header h4{
    padding-top:15px;
    color: black;
}

.card-body{
 background:#f7f4f4;
 border-left: 1px solid#06090f73;
 border-right: 1px solid #06090f73;
}

.card-body form {
    padding: 15px;
}

.card-footer{
    border: 1px solid #31343940;
    background: #e3e3e3;
}

.corteSearch{
    padding: 45px;
    padding-left: 70px;
    padding-top: 1px;
}

.select2-container--default .select2-selection--single{
    padding: 7px;
    padding-bottom: 28px;
    border: 1px solid #31343940;
}

.form-control[readonly]{
    background-color: white;
}

form input[type= "date"],
input[type = "text"],
input[type = "email"],
input[type = "password"]
select.form-control,
textarea.form-control
{
    border: 1px solid #31343940;
}

.error {
    color: red;
    background-color: #e6f0ff;
   
 }

 label .error {
    text-align: center;
 }

 .galeria{
    padding: 20px;
    border: 1px solid #31343940;
    border-radius: 25px;
    padding-top: 34px;
 }

 .prod_img {
    border: double #ccc;
 }

 .rounded {
    width: 96px;
    height: 139px;
 }


 .table-bordered td, .table-bordered th{
     border: none;
     border-top: 1px solid #dee2e6;
 }

 
 table td.fit, 
 table th.fit {
     white-space: nowrap;
     width: 1%;
 }
 
